.center {
    margin: auto;
    align-content: center;
    text-align: center;
}

h1 {
    font-size: 350%;
    margin: 0 auto 0 auto;
    font-family: 'Merriweather', serif;
    font-weight: 900;
    line-height: 1.5;
    color: #5696f0;
  }

h2 {
    font-size: 220%;
    margin: 0 auto 0 auto;
    font-family: 'Merriweather', serif;
    font-weight: 900;
    line-height: 1.5;
    color: #5696f0;
  }

h3 {
    font-size: 280%;
    margin: 0 auto 0 auto;
    font-family: 'Merriweather', serif;
    font-weight: 900;
    line-height: 1.5;
    color: #5696f0;
}

h4 {
    font-size: 150%;
    margin: 0 auto 0 auto;
    font-family: 'Merriweather', serif;
    font-weight: 400;
    line-height: 1.5;
    color: #5696f0; 
}

.navbar-brand {
    font-size: 30px;
    font-weight: bold;
    text-shadow: 3px 3px 5px #777;
    color: #536d92 !important;
    /* 2877ea */
  }

.top {
    width: 100vw;
    height: 100vh;
    text-align: center;
    vertical-align: middle;
}

div#white-box > h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0);
}